@import 'buttons';
$check-green: #00A37D;
$state: #32373E;
$light-green: #BFEEE3;
$gray: #A0A4AA;
$black: #1D2024;
$ethereum-gold: #C99D66;
$ethereum: #6F7CBA;
$dollar-green: #58C870;
$ethereum-text: #5364B4;
$botcoin-gold: #C2A900;
$botcoin-text: #BCA400;
$botcoin: #BEA107;
$botcoin-title: #D0AF00;
$trans-gray: rgba(255,255,255,.1);
$gray-input: rgba(29,32,36,.13);
$error: #DF3C3C;
$error-placeholder: #E98176;
$error-bg: #FFF1EE;
$error-border:#FFDBD5;
$error-gray-input: rgba(29,32,36,.03);
$gray-link: #CBCED0;
$gray-label: #B6B9BD;
$green-text: #008A6A;
$yellow-bg: #FFFCE5;
$gray-bg: #E1E2E4;
$blue-link: #3772D0;

@mixin arrow ($top, $left, $color: white) {
  content: '';
  position: fixed;
  top: $top;
  left: $left;
  width: 0;
  height: 0;
  border-top: 9px solid transparent;
  border-bottom: 9px solid transparent;
  border-right: 8px solid $color;
}

.gray-text {
  color: $gray-text;
}

.gray {
  color: $gray;
}

.gray-p {
  color: $gray-text-hover;
}

.gray-label {
  color: $gray-label;
}

.lighter-gray-text {
  color: $lighter-gray;
}

.ethereum {
  color: $ethereum;
}

.botcoin {
  color: $botcoin-gold;
}

.state-text {
  color: $state;
}

.dollar-text {
  color: $placeholder;
}

::selection {
  background: #ccc;
  color: white;
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 3em;
  letter-spacing: 0.01em;
  span {
    font-size: 0.333em;
    letter-spacing: 0.025em;
    display: inline-block;
    margin-left: 3px;
  }
}

h2 {
  font-size: 1.25em;
  font-weight: 700;
  margin-top: 5px;
}

h3 {
  font-size: 1.125em;
  letter-spacing: 0.04em;
  margin-top: 10px;
}

h5 {
  font-size: 0.8125em;
  font-weight: 400;
  letter-spacing: 0.1em;
  margin-bottom: 8px;
}

strong {
  font-weight: 600;
}

small {
  font-size: 0.875em;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.alert {
  padding: 5px 13px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.alert-danger {
  color: $error;
  border-color: $error-border;
  background: $error-bg;
  box-shadow: inset 0 0 5px $error-gray-input;
}

.container-state {
  background: $state url('img/bg.png') no-repeat bottom -30px right -120px;
  height: 100vh;
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidenav {
  height: 100vh;
  width: 95px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

#navigation {
  padding-top: 50px;
}

.content-container {
  margin-left: 80px;
}

.content-inner {
  height: calc(100vh - 30px);
  border-radius: 13px;
  padding-bottom: 55px;
  padding-top: 30px;
  overflow-y: auto;
  &.gray-bg {
    background-color: $gray-bg;
    border-color: $gray-bg;
    box-shadow: inset -1px -1px 1px rgba(29,32,36,.21);
    padding-top: 20px;
    &:before {
      @include arrow(264px, 87px, $gray-bg);
      z-index: 100;
    }
  }
  &.white-bg {
    background-color: white;

    h3 {
      line-height: 1.8em;
      font-weight: 400;
      margin-top: 0;
    }

    p {
      line-height: 1.8em;
      font-weight: 400;
      padding-bottom: 20px;
    }

    .gray-p {
      a, a:hover, a:focus {
        text-decoration: underline;
        color: $blue-link;
        font-weight: 500;
      }
    }

    .dollar-balance {
      margin-bottom: 30px;
      display: block;
    }

    .center-button {
      margin-bottom: 30px;
      .small-button {
        font-weight: 400;
        letter-spacing: 0.06em;
        min-width: 98px;
      }
    }

    .center-buttons {
      margin-bottom: 40px;
      .small-button {
        margin-left: 7px;
        margin-right: 7px;
      }
    }

    .white-header {
      background-color: white;
      height: 45px;
      margin-top: -30px;
      padding-top: 8px;
      p {
        font-weight: 600;
      }
      small {
        color: $placeholder;
        font-weight: 400;
      }
      span{
        font-size: 0.75em;
      }
    }

    .gray-body {
      background: $gray-gradient1;
      min-height: calc(100vh - 130px);
      padding-top: 25px;

      h3 {
        letter-spacing: 0.05em;
      }

      p {
        padding-bottom: 0;
      }

      .small-button {
        font-weight: 500;
        letter-spacing: 0.06em;
      }
      &:before {
        @include arrow(76px, 87px, $gray-gradient1);
        z-index: 100;
      }
    }
  }
  &.trans-bg {
    background-color: $trans-gray;
    color: white;
    p {
      padding-bottom: 4px;
      line-height: 1.8em;
    }
    .form-group {
      margin-bottom: 5px;
      min-height: 48px;
    }
    label.control-label {
      font-weight: 400;
      font-size: 0.875em;
      display: none;
      margin: 0;
      color: $gray-label;
    }
    input.form-control {
      border: 2px solid $gray-input;
      box-shadow: inset 0 0 5px $gray-input;
      height: 48px;
      color: $state;
      line-height: 23px;
      font-size: 1em;
      border-radius: 6px;
      font-weight: 500;
      &:not(:placeholder-shown) {
        padding-top: 13px;
        &+label.control-label {
          display: block;
          color: $placeholder;
          font-size: 0.625em;
          padding: 0 0 0 15px;
          letter-spacing: 0.1em;
          margin-top: -42px;
          text-transform: uppercase;
        }
      }

      &:placeholder-shown {
        color: $placeholder;
        padding-top: 0;
        font-weight: 300;
      }

      &.error {
        color: $error;
        border-color: $error-border;
        background-color: $error-bg;
        box-shadow: inset 0 0 5px $error-gray-input;
        &:placeholder-shown {
          color: $error-placeholder;
        }

        &:not(:placeholder-shown) {
          &+.validation-error {
            &+label.control-label {
              display: block;
              color: $error-placeholder;
              font-size: 0.625em;
              padding: 0 0 0 15px;
              letter-spacing: 0.1em;
              margin-top: -63px;
              margin-bottom: 25px;
              text-transform: uppercase;
            }
          }
        }
      }
    }

    .validation-error {
      font-size: 0.875em;
      color: $error-placeholder;
      margin-top: 3px;
      display: block;
    }

    .gray-link {
      font-size: 0.875em;
      color: $gray-link;
      margin-top: 5px;
    }

    input[type="file"] {
      display: none;
    }

    .import-nav {
      margin-top: 15px;
      li {
        font-size: 0.875em;
        &.active {
          a {
            color: white;
          }
        }
        a {
          color: $gray-label;
          background: none;
          padding: 6px 10px;
          &:hover {
            color: white;
          }
        }
      }
    }

    .checkbox {
      input[type="checkbox"] {
        height: 16px;
        width: 16px;
        border: 1px solid $gray-input;
        margin: 30px 15px 0 0;
        vertical-align: top;
        position: absolute;
        opacity: 0;
        border-radius: 4px;
        &+label {
          cursor: pointer;
        }
        &:not(checked){
          &+label {
            position: relative;
            padding: 6px 0 0 25px;
            font-size: 0.875em;
            font-weight: 300;
            color: $gray-link;
            &:before {
              content: '';
              position: absolute;
              top: 5px;
              left: 0;
              width: 16px;
              height: 16px;
              border: 1px solid $gray-input;
              box-shadow: 0 0 5px $error-gray-input;
              background: white;
              border-radius: 4px;
            }
          }
          &:hover {
            &+label:before {
              background: $check-green;
              border: 2px solid $check-green;
            }
          }
        }
        &:checked {
          &+label:before {
            background: $check-green url('img/check.png') no-repeat -11px 2px;
            border: 2px solid $check-green;
          }
          &:hover {
            &+label:before {
              background: white url('img/check.png') no-repeat 1px 2px;
            }
          }
        }
      }
    }

    label[for=json] {
      display: inline-block;
      margin-bottom: 5px;
      color: $gray-text;
      margin-top: 10px;
    }

    small.gray-label {
      margin-left: 15px;
      margin-top: 15px;
      display: inline-block;
      vertical-align: middle;
    }

    .required {
      margin-top: 10px;
    }

    .well {
      color: $green-text;
      font-size: 0.9375em;
      background: $yellow-bg;
      border-radius: 1px;
      font-weight: 500;
      min-width: 430px;
      display: inline-block;
      min-height: 40px;
      padding: 0 15px;
      line-height: 40px;
      border: none;
      margin-bottom: 5px;
    }

    .registration-form {
      margin-bottom: 30px;
    }

    .import-wallet-nav {
      margin-top: 30px;
    }
  }
  &.top50 {
    border-radius: 13px 13px 0 0;
    height: calc(48.5vh - 16px);
    padding-bottom: 15px;
  }
  &.bottom50 {
    border-radius: 0 0 13px 13px;
    height: calc(51.5vh - 16px);
    padding-bottom: 30px;

    h3 {
      margin-bottom: 20px;
    }
  }
  &.left-inner {
    border-radius: 13px 0 0 13px;
  }
  &.right-inner {
    border-radius: 0 13px 13px 0;
  }
}

.divider {
  height: 2px;
  background: $state;
}

.list-group.nav-list {
  .list-group-item {
    background: none;
    color: $gray;
    border: none;
    margin-top: 10px;
    margin-bottom: 20px;
    &.active, &:hover {
      color: white;
    }
    span {
      height: 28px;
      width: 27px;
      background: url('img/nav_icons.png') no-repeat;
      background-size: cover;
      margin-bottom: 5px;
    }
    &.voting {
      span {
        width: 30px;
      }
      &.active, &:hover {
        span {
          background-position: -110px 0;
        }
      }
      &.active:before {
        @include arrow(76px, 87px);
      }
    }
    &.wallet {
      span {
        background-position: -57px 0;
      }
      &.active, &:hover {
        span {
          background-position: -167px -1px;
        }
      }
      &.active:before {
        @include arrow(264px, 87px);
      }
    }
    &.stake {
      span {
        background-position: -30px 0;
      }
      &.active, &:hover{
        span {
          background-position: -140px -1px;
        }
      }
      &.active:before {
        @include arrow(171px, 87px);
      }
    }
    &.settings {
      position: absolute;
      bottom: 5px;
      left: 10px;
      font-size: 0.75em;
      span {
        background-position: -83px 0;
        width: 26px;
      }
      &.active, &:hover {
        span {
          background-position: -193px -1px;
        }
      }
    }
  }
}

.subnav-list {
  border: none;
  box-shadow: none;
  margin-left: -8px;

  .list-group-item {
    background: none;
    color: $placeholder;
    border: none;
    margin-top: 0;
    margin-bottom: 10px;
    padding-top: 19px;
    font-weight: 500;
    height: 60px;
    padding-left: 25px;

    &.active {
      background-color: white;
      border-radius: 9px 0 0 9px;
      box-shadow: 0 1px 1px rgba(29,32,36,.18);
      border-left: 1px solid rgba(29,32,36,.27);
      &:focus, &:hover,{
        background: white;
      }
      span {
        height: 78px;
        background: white;
        position: absolute;
        right: -15px;
        width: 15px;
        top: -9px;
        &:before {
          content: "";
          position: absolute;
          top: 0;
          width: 15px;
          height: 9px;
          background-color: $gray-bg;
          border-radius: 0 0 9px 0;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          width: 15px;
          height: 9px;
          background-color: $gray-bg;
          border-radius: 0 9px 0 0;
          box-shadow: inset -1px 1px 1px rgba(29,32,36,.18);
        }
      }
    }
    &:focus, &:hover {
      text-shadow: none;
      background: none
    }
    &.active, &:hover {
      text-shadow: none;
    }
    &.ethereum-link {
      &.active, &:hover {
        color: $ethereum;
      }
    }
    &.botcoin-link {
      &.active, &:hover {
        color: $botcoin-gold;
      }
    }
  }
}

.transaction-table {
  .state-text {
    font-weight: 500;
    text-transform: uppercase;
  }

  .ethereum,.botcoin {
    font-size: 0.8125em;
  }

  .dollar-text, .gray {
    font-size: 0.75em;
  }

  .gray {
    a {
      color: $gray;
      &:hover {
        color: $state;
      }
    }
  }

  tbody {
    tr {
      border-bottom: 2px solid $gray-bg;
      &:last-child {
        border-bottom: 0;
      }

      td {
        padding: 8px 0 12px;
        line-height: 1.55;
        border-top: 0;
      }
    }
  }
}

.footer {
  position: absolute;
  bottom: 15px;
  height: 55px;
  line-height: 55px;
  width: calc(100% - 110px);
  font-size: 0.875em;

  .logo {
    display: inline-block;
    width: 108px;
    height: 14px;
    background: url('img/botchain_logo.png') no-repeat;
    background-size: cover;
  }
}

.modal-backdrop {
  background-color: $black;
  &.in {
    opacity: 0.86;
  }
}

.modal-dialog.app-modal {
  margin-top: 180px;
  .modal-content {
    min-height: 370px;
    box-shadow: 0 0 8px $gray-border;
  }
  .modal-header {
    border-bottom: 0;

    h4{
      font-size: 1.25em;
      font-weight: 500;
      letter-spacing: 0.1em;
      margin-top: 17px;
      text-transform: uppercase;
    }
    .close {
      font-size: 2.375em;
      color: rgba(29,32,36,0.32);
      opacity: 1;
      font-weight: 500;
      &:hover {
        color: $gray-text-hover;
      }
    }
  }

  .modal-body {
    padding-bottom: 0;
  }
  .modal-footer {
    border-top: 0;
    text-align: center;
    padding-top: 0;
    small {
      font-weight: 500;
    }
  }

  &.receive-modal {
    .modal-content {

      .qr {
        width: 148px;
        height: 148px;
        padding: 8px;
        background: white;
        border-radius: 8px;
        box-shadow: 1px 0 3px $gray-border;
        margin-bottom: 20px;
      };

      h3.gray-text {
        font-weight: 400;
        text-transform: capitalize;
      }
      h3.ethereum, h3.botcoin {
        text-shadow: 0 2px 2px white;
      }
      h3.botcoin {
        color: $botcoin;
      }
    }
  }
  &.ethereum-modal, &.eth-modal {
    .modal-content {
      background: white url('img/eth_bg.png') no-repeat top right / cover;
    }
    .modal-title {
      color: $ethereum;
    }
  }
  &.botcoin-modal, &.botc-modal {
    .modal-content {
      background: white url('img/botc_bg.png') no-repeat top right / cover;
    }
    .modal-title {
      color: $botcoin-title;
    }
  }
  &.stake-modal {
    .modal-content {
      background: white url('img/stake_bg.png') no-repeat bottom right / cover;
    }
  }
  &.reject-modal {
    .modal-content {
      background: white url('img/reject_bg.png') no-repeat top right / cover;
    }

    .modal-content {
      min-height: 320px;
    }
  }
  &.approve-modal {
    .modal-content {
      background: white url('img/approve_bg.png') no-repeat top right / cover;
    }

    .modal-content {
      min-height: 320px;
    }
  }
}

// voting

.voting-return-button {
  display:none;
}

.vote-list-details-wrap {
  margin-top: 16px;
  .vote-list-container {
    width: 100%;
  }
  .vote-details {
    display: none;
  }
}

.voting-with-details {
  .voting-return-button {
    display:block;
    margin-top: 16px;
  }
  .vote-list-details-wrap {
    .vote-list-container {
      width: 50%;
      float: left;
    }
    .vote-details {
      width: 50%;
      float: left;
      display: block;
      padding-left: 15px;
    }
  }
}
